---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
<div
  class="[&>p]:mb-4 [&>p>strong]:text-red-600 dark:[&>p>strong]:text-red-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
>
  <p class="mt-4">
    游녦 Hola, soy Yeiner David L칩pez, <strong>Desarrollador de Software</strong> y <strong>Analista de Soporte IT</strong> con m치s de <strong>4 a침os de experiencia</strong> en soporte t칠cnico, redes e infraestructura tecnol칩gica.
  </p>
  <p>
    He creado <strong>automatizaciones internas con Google Apps Script</strong>, implementado <strong>scripts en Python</strong> para procesamiento de datos y construido <strong>aplicaciones web con NodeJS/Express</strong>.
  </p>
  <p>
    Me muevo con comodidad en entornos <strong>Windows</strong> y <strong>Linux</strong>, y gestiono proyectos de forma 치gil usando <strong>Git</strong>, <strong>Jira</strong> y <strong>Docker</strong>.
  </p>
  <p>
    Actualmente estudio <strong>Ingenier칤a de Software</strong> y realizo pr치cticas como desarrollador, enfoc치ndome en <strong>backend</strong> y algo de <strong>frontend</strong>, mientras sigo fortaleciendo mis habilidades en <strong>Python</strong>, <strong>Java</strong> y <strong>desarrollo web</strong>.
  </p>
  <p>
    Creo en el <strong>aprendizaje constante</strong>, en el <strong>trabajo colaborativo</strong> y en el poder de la tecnolog칤a para resolver problemas reales.
  </p>
</div>

  <img
    width="200"
    height="200"
    src="/AvatarDean.webp"
    alt="Dean's"
    class="order-1 object-cover rounded-full size-72 shadow-lg shadow-dark-900/20 dark:shadow-dark-50/10 mx-auto"
    style="object-position: 50% 50%"
  />
</article>
