---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-600 dark:[&>p>strong]:text-purple-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p class="mt-4">
    👋 Hola, soy Yeiner David López, <strong>Programador y Analista de Soporte IT</strong> con más de 
    <strong>4 años de experiencia</strong> en soporte técnico, redes e infraestructura tecnológica. En mi camino profesional, he encontrado una fuerte motivación en la <strong>automatización de procesos</strong> y el desarrollo de <strong>soluciones web</strong> que simplifiquen el trabajo diario.
  </p>
  <p>
    He trabajado en empresas como <strong>Grupo DAO SAS</strong>, donde he liderado iniciativas para optimizar procesos internos usando <strong>Google Apps Script</strong>, automatizando tareas repetitivas y mejorando la eficiencia operativa. También formé parte del equipo freelance de <strong>Coderlyst</strong>, desarrollando sitios web con <strong>HTML, CSS, JavaScript</strong> y CMS, siempre enfocado en funcionalidad y diseño responsivo.
  </p>
  <p>
    Actualmente, estudio <strong>Ingeniería de Software</strong> mientras realizo prácticas como desarrollador. Me interesa seguir fortaleciendo mis habilidades en <strong>Python, Java, desarrollo web</strong> y herramientas como <strong>Git, SQL</strong> y entornos <strong>Linux y Windows</strong>.
  </p>
  <p>
    Creo en el <strong>aprendizaje constante</strong>, en el <strong>trabajo colaborativo</strong> y en el poder de la tecnología para resolver problemas reales.
  </p>
  
  </div>
  <img
    width="200"
    height="200"
    src="https://i.pinimg.com/originals/b6/99/ea/b699ea44cbe4c1c9af918016259703aa.jpg"
    alt="Tunnler's"
    class="order-1 object-cover rounded-full size-72 shadow-lg shadow-dark-900/20 dark:shadow-dark-50/10 mx-auto"
    style="object-position: 50% 50%"
  />
</article>
